.*{margin: 0 auto;}
.li_container{
	text-align: center;
	background: black;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	height: 680px;
}
.main_container{
	background: black;
}
h3{
	text-align: center;
	background: blue;
	height: 15%;
	margin: auto;
	padding:30px;
	font-size: 40px;
	color: white;
}
button{
	height: 30px;
}
.new{
	padding-top: 10px;
	background: grey;
	margin: auto;
	height: 40px;
	}
.box{
	background: yellow;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	display: table;
	width: auto;
}
.box > div{
	height: 150px;
	width: 150px;
	background-color: red;
	border: 0.2px solid yellow;
	float: left;
	margin: 2px; 
	border-radius: 10%;
	box-shadow: 0 2px 2px rgba(0,0,0, 0.5);
}
h4{
	margin: auto;
	height: 100%;
	background: black; 
	color: white;
	padding:5px;
}

